---
layout: default
regenerate: true
---
<header class="masthead">
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
  <nav class="masthead-nav">
	{% assign sorted_pages = site.pages | sort: "order" %}
	{% for page in sorted_pages %}
		{% if page.title %}
			<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
		{% endif %}
	{% endfor %}

	<a class="page-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
  </nav>
</header>
<div class="content list h-feed">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in paginator.posts %}
  <div class="list-item h-entry">
	{% if post.microblog == false %}
		<h1 class="home-title">{{ post.title }}</h1>
	{% endif %}
    <div class="content post e-content">
      {{ post.content }}
    </div>
    <div class="list-post-date">
      <a href="{{ site.baseurl }}{{ post.url }}" class="u-url"><time class="dt-published" datetime="{{ post.date }}">{{ post.date | date_to_string }}</time></a>
    </div>
  </div>
{% endfor %}
{% endif %}
</div>

{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}

<footer class="site-footer">
	<p class="text">{{ site.description }}</p>
</footer>
