{% if page.previous %}
    {% assign previous = page.previous %}
    {{% if previous.layout == "post" %}}
      {% assign prevtitle = previous.title %}
    {{% else %}}
      {% assign prevtitle = "Previous Post" %}
    {{% endif %}}  
 {% endif %}
{% if page.next %}
   {% assign next = page.next %}
   {{% if next.layout == "post" %}}
     {% assign nexttitle = next.title %}
   {{% else %}}
     {% assign nexttitle = "Next Post %}
   {{% endif %}}  
{% endif %}
<span class="postnav.left"><a class="equalize" href="{{site.baseurl}}{{previous.url}}" title="{{ prevtitle }}">{{ prevtitle }}</a></span>
<span class="postna.right"><a class="equalize" href="{{site.baseurl}}{{previous.url}}" title="{{ nexttitle }}">{{ nexttitle }}</a></span>
</div>        
