<div>
   <a href="{{ page.previous.url | prepend: site.baseurl }}" style="text-align: left;">
   {{% if page.previous.layout =+ "post" %}}
      {{ page.previous.title }}
   {{% elsif page.previous.layout == "microblog" %}}
      Previous Post
   {{% endif %}}   
   </a>
  
   <a href="{{ page.next.url | prepend: site.baseurl }}" style="text-align: right;">
   {{% if page.next.layout == "post" %}}
      {{ page.next.title }}
   {{% elsif page.next.layout == "microblog" %}}
      Next Post
   {{% endif %}}
   </a>
</div>
